# Ignore everything in the root directory
/*

# Except the Assets directory
!/Assets/

# Ignore everything inside Assets directory
/Assets/*

# Except the Scripts directory
!/Assets/Scripts/

# Ensure all files inside Scripts are NOT ignored
!/Assets/Scripts/**

# Explicitly allow the .gitignore itself
!.gitignore
